node_modules/
dist/
.env
.DS_Store
coverage/
.vscode/

// firebase
serviceAccountKeyDev.ts
serviceAccountKeyProd.ts
serviceAccountKey.ts
serviceAccountKeyDev.json
serviceAccountKeyProd.json
serviceAccountKey.json
